
/* General Settings
----------------------------------*/
img {border: 0;}


/* Structure Settings
-----------------------------------------*/

#ltop1 {position:relative; width:100%; height:90px; text-align:left;}
#lleft {width:130px;}

#lmidlc {width:682px;}
#lleft, #lmid1, #lmidlc {float: left;}
#flags {height:28px;}
 
#lmid1 {width:552px;}

#lmid2 div {float: left;}
#lmid2 div.headline {width: 100%;}
#lmid2 div.lbox {width: 288px; padding-left: 29px; padding-bottom: 15px;}
#lmid2 div.rbox {width: 196px; padding-left: 10px; padding-bottom: 15px;}
#lmid2 div.wholebox {width: 494px; padding-left: 29px; padding-bottom: 15px;}
#lmid2 div.wholebox div {float:none;}

div.lbox ul, div.rbox ul {margin: 0 0 0 15px; padding: 0 15px 0 0;}

#stat_player {width: 100%; border: 1px dashed #c0c0c0; border-collapse: collapse;}
#stat_player td {padding: 1px 0px 1px 10px;}
#stat_player tr.fr td {padding-top: 4px;}
#stat_player tr.lr td {padding-bottom: 4px;}
#stat_player td.sum {font-weight: bold; padding-left:10px; padding-left:0px;}
 
#signup_image {position: relative; padding-bottom: 15px; width: 530px; height: 120px; background-repeat: no-repeat; background-position:26px 0px;}

#signup_image #dummy_button {position: absolute; top:71px; left:45px; z-index:5;}
#signup_image #dummy_button img {width: 136px; height: 38px;}
#signup_image #image_button {position: absolute; top: 74px; left: 47px; width: 133px; height: 32px; z-index:4; display:none;}

td.screener { text-align:center; }
td.screener img {border: 1px; border-color:#71D000; }

#lfooter1 {width:100%; clear:both; padding-top: 15px;}
#lfooter2 {padding-top:15px; width:800px;}
#lfooter2 div.copyright {direction:ltr;}

#lmenu {width: 116px; margin-bottom: 10px; line-height: 14px;}
#lmenu a.m_forum, #lmenu a.m_impressum {margin-top: 23px;}

#lright1 {position: relative; width: 200px; float:left; margin: 40px 30px 0 30px;}
#lright1 div.rbox {margin-top:20px;}
#lright1 div.dashed {border: 1px dashed #c0c0c0; padding: 5px;}

div.overlay {position: absolute; width:390px; top: 180px;left: 230px; z-index:10;}
div.overlay img.fr {position: relative; top:0px;left:0px;}
div.overlay img.lr {position: relative; bottom:0px; left:0px;}
div.overlay div.w_liste {margin: 10px 0 0 14px;}

div.w_liste div {position: relative; float: left; margin: 2px 3px 10px 0;}
div.w_liste img.w_button {position: absolute; top:0; left:0; z-index:18}
div.w_liste table.w_werte {position: absolute; border-collapse: collapse; z-index:14}
div.w_liste table.w_werte td {white-space:nowrap;}
div.w_liste table.w_werte td.right {text-align:left;}

div.w_liste div.w_big {width: 361px; height:64px;}
div.w_liste div.w_small {width: 175px; height:46px;}
div.w_liste div.w_big table.w_werte {left:235px; top:14px; width:105px;}
div.w_liste div.w_small table.w_werte {left:123px; top:3px;}
div.w_liste div.w_big img.w_button {width: 361px; height:64px;}
div.w_liste div.w_small img.w_button {width: 175px; height:46px;}

#signup_layer, #login_layer {display:none;}

/* Font Settings, Colors and Backgrounds
-----------------------------------------*/
.headline {display: block; text-align: center; padding-bottom: 3px;}
.headline img {width: 468px; height: 60px;}
.subhead { width: 160px; height: 15px; display: block; margin-bottom: 19px;}

div.overlay img.subhead {position: absolute; top:21px; left:20px; width: 200px; z-index: 12;}
div.overlay img.closer {position: absolute; top: 10px; left: 10px; height:20px; width:20px; z-index:12;}

div.overlay {background-image:url(img/un/login2.gif);}

#ltop1 {background: url(img/un/m.gif) repeat-x;}
#lmid1 {background: url(img/un/rand.gif) repeat-y}
#lmid2 div {font-size:9pt; line-height: 140%;}

#lfooter1 {background: url(img/un/btm.gif) repeat-x 0 15px;}
#lfooter2 {font-size:8pt; color:#666; text-align:center;}


#lmenu {font-size: 12px;}
#lmenu a,#lmenu a:active,#lmenu a:visited {font-weight: normal;display: block;color: #000;padding: 3px 0px 3px 12px;font-size: 12px;}
#lmenu a:hover {color:#00C000; cursor:pointer; background-image:url(img/un/n12.gif);}
#lmenu a.m_anmelden {color: #f00;}

/* Schriftgroessen */
.f16 {font-size:16pt;}
.f135 {font-size:13.5pt;}
.f10 {font-size:10pt;}
.f9 {font-size:9pt; line-height:140%; font-weight:normal;}
.f8 {font-size:8pt;}
.f75 {font-size:7.5pt;}
.f7 {font-size:7pt;}
.f6 {font-size:6pt;}

/* e Schriftfarbe fuer Fehlermeldung Login/Anmeldung */
.e {color:#FF8000;}

/* Schriftfarbe fuer Inaktive Links */
.c {color:#C0C0C0;}
.c0 {color:#000000;}
.c1 {color:#71D000;}
.c2 {color:#FF8000;}
.c3 {color:#228B22;}
.c4 {color:#F2C700;}
.c5 {color:#FF0000;}
.c6 {color:#B500A3;}

/* Dicke Schrift */
.b {font-weight:bold}

/* Duenne Schrift */
.t {font-weight:normal;}

/* Laenderflaggen */
.dflags1 {float:left; text-align:center; font-size:6pt; color:#FFF; padding-left:1px; padding-left:1px; padding-top:1px;}
.dflags2 {padding-top:1px;}

img.flags {border:solid 1px #000000; width:21px; height:13px;
/*opacity:0.4;            /*      W3C-konform     */
/*-moz-opacity:0.4;       /*      Mozilla und Derivate    */
/*FILTER:progid:DXImageTransform.Microsoft.Alpha(opacity=40); /*IE*/
}
/* für neue Flaggendarstellung */
#country_text{text-align: left; }
#country_text table{vertical-align: middle;	color: White;	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
					font-size: 12px; height: 25px; font-weight: bold; width: 680px;	text-align: left;}
#country_box, #flag_list {float: left;	border: 1px solid Silver; width: 180px; text-align: left; background-color: White;	height: 22px; cursor: pointer; }
#country_box table, #flag_list table{font-size: 12px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;height: 100%;width: 100%;}
#country_box td {vertical-align: middle;}
*#flag_list{clear: both; visibility: hidden; height: 300px; overflow: auto;	position: absolute;	left: 0px;	top:25px; }
.layer_box{ margin-top:3px;	position: relative; float: left; width:865px; z-index:9;}

#flags{
	text-align:left;	
}
#flags tabel{
	float: left;
}

.region_box{
	width:120px;
	float: left;
	padding-left:10px;
	padding-top:43px;
	position: absolute;
	overflow: hidden;
}
.region_flag{
	position: absolute;
	padding-left:10px;
	float: left;
	overflow: hidden;
} 
  div.single {border:1px solid Black; float:left; margin-left:2px;}
  div.single a {text-decoration:none; border:none; background:none;}
  div.single img {
    opacity:0.4;            /*      W3C-konform     */
    FILTER:progid:DXImageTransform.Microsoft.Alpha(opacity=40); /*IE*/
  }
  div.single img{border:0px; width:21px; height:13px;}
  div.single img:hover{ opacity:1; }
  div.tld {
  	float: left; margin-left:2px; width:23px; height: 13px;
	font-size: 8px; text-align: center; color:White;
  }
  
/* aus altem style übernommen */
.tbg {background-color: #C0C0C0; width:100%; text-align:center; font-size:10pt;}
table.tbg tr td{background-color: #FFFFFF; color: #000000;}
.rbg {background-color: #FFFFFF; font-weight:bold; background-image: url(img/un/c2.gif);}
table.tbg tr.cbg1 td, td.cbg1 {background-color:#F5F5F5}
table.tbg td.cbg2 {background-color:#71D000}
table.tbg tr.s7 td, td.s7 {padding-left:7px; text-align:left}
table.tbg tr.r7 td, td.r7 {padding-left:7px; text-align:left}
.slr3 { padding-left:3px; padding-left:3px; text-align:center}
table.tbg td.ou {border-top:1px solid #71D000; border-bottom:1px solid #71D000; background-color:#F0FFF0; }
table.tbg td.li {border-left:1px solid #71D000 }
table.tbg td.re {border-left:1px solid #71D000}
ce3 {position:absolute; z-index:80;}
.popup3 {position:absolute; background-image:url(img/un/anl.gif); background-repeat:no-repeat; display:inline; width:430px; height:456px; z-index:80; border: 0px solid #000000; padding-top:31px; padding-bottom:0px; padding-left:20px; left: 180px; top: 99px}
.popup4 {position:absolute; width:30px; height:30px; z-index:81; border: 0px solid #000000;  left: 600px; top: 115px}
.popup5 {position:absolute; width:116px; height:18px; z-index:82; left: 145px; top: 378px}

/**** Tutorial definitions ***/
#lmid2 div.wholebox div#tut_left{	float: left;	width: 50%;}
#lmid2 div.wholebox div#tut_right{	float: left;	width: 50%;	text-align: right;}
#tut_txt{	border:0px;	height:100px;	width: 100%;	font-size: 12px;}
#tut_img{	border:0px;	height:220px;	width: 100%;	font-size: 10px;}
#tut_txt tr, #tut_img tr {	vertical-align: top;}



body {direction:ltr; text-align:left;}
#lmid1 {z-index:3;}
#lleft, #lmid1,#lright1,#lmidlc,#lmid2 div {float: left;}
#lmid2 div.lbox {padding-left: 12px; padding-left: 0px;}
#lmid2 div.rbox {padding-left: 5px; padding-left: 0px;}
#lmid2 div.wholebox {padding-left: 12px; padding-left: 0px;}
div.lbox ul, div.rbox ul, div.wholebox ul {margin: 0 15px 0 0; padding: 0 0 0 15px;}
#signup_image, div.overlay, #ltop1 {direction: ltr;}
#signup_image {background-position: 26px 0px;}
#signup_image #dummy_button {left:45px;}
#signup_image #image_button {left: 47px;}
div.overlay {left: auto; left:230px;}
.dflags1 {float: left;}
#flaggs table {float:left; }
 
#lmid2 div.wholebox div#tut_left{	float: left;	width: 50%;}
#lmid2 div.wholebox div#tut_right{	float: left;	width: 50%;	text-align: right;}
 
#lmenu a,#lmenu a:active,#lmenu a:visited {font-weight: normal;display: block;color: #000; padding-left:0px; padding-left:12px; font-size: 12px;}
#stat_player td {
	padding-left:0px;
	padding-left: 10px;
}
 
#lmenu a {
	line-height: 14px;
}